<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/real-estate-1-12/50/13-512.png" type="image/png">
  <title>Tiny Store</title>
</head>

<body>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1">Tiny Store</a>
      <% if (session.token) { %>
        <form action="/auth/signout" method="POST" id="logoutForm" style="display: inline;">
          <button type="submit" class="btn btn-primary">Logout</button>
        </form>
        <% } else { %>
          <div class="d-flex">
            <a href="/signin" class="btn btn-primary">Sign In</a>
          </div>
          <% } %>
    </div>
  </nav>
  <div class="container">
    <h1 class="mt-5 text-center">Welcome to Tiny Store</h1>
    <!--PRODUCTS-->
    <div class="container">
      <div class="row">
        <% products.forEach(product=> { %>
          <div class="col-md-4 mb-4"> <!-- Adjust column size for different screen sizes -->
            <div class="card">
              <img src="<%= product.images.length > 0 ? product.images[0].url : 'https://via.placeholder.com/150' %>"
                class="card-img-top" alt="<%= product.name %>">
              <div class="card-body">
                <h5 class="card-title">
                  <%= product.name %>
                </h5>
                <p class="card-text">
                  <%= product.description %>
                </p>
                <p class="card-text"><strong>Price:</strong> $<%= product.price.toFixed(2) %>
                </p>
                <p class="card-text"><strong>Category:</strong>
                  <%= product.category %>
                </p>
                <form action="/api/v1/products/<%= product.id %>/like" method="POST" class="d-inline">
                  <button type="submit" class="btn <%= product.isLiked ? 'btn-danger' : 'btn-success' %>">
                    <%= product.isLiked ? 'Unlike' : 'Like' %>
                  </button>
                </form>
                <form action="/api/v1/products/<%= product.id %>?_method=DELETE" method="POST" class="d-inline">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
          <% }); %>
      </div>
    </div>
    <section>

      <div class="container">
        <h1 class="mt-5">Products</h1>
        <div id="product-list" class="row"></div>
        <button id="buy" class="btn btn-success mt-3" onclick="buyProducts()">Buy Selected Products</button>
      </div>

      <script>

        async function addToCart(productId) {
          const res = await fetch(`/api/v1/product/${productId}/cart`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: {},
          });

          if (res.ok) {
            alert('Product added to cart!');
            window.location.reload()
          }
        }

        async function likeProduct(productId) {
          const token = '<%= session.token %>';

          if (!token) {
            alert('You need to login')
            window.location.href = '/signin'
          } else {
            const res = await fetch(`/api/v1/product/${productId}/like`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${token}`
              },
            });

            if (res.ok) {
              window.location.reload()
            }
          }

        }

      </script>
    </section>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
  integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</html>